<div class="hero-unit">
    <h1>'JTTW!</h1>

    <p>This is only the beginning...</p>
    <ul class="nav nav-pills">
        <li class>
            <a href='#typography'>Typography</a>
        </li>
    </ul>
    <ul>
        <li ng-repeat="thing in dattRtfn">{{thing}}</li>
        <li ng-repeat="thing in gtfo">{{thing}}</li>
    </ul>
    <p>But beware this will end horribly.</p>

    <h3>Good luck, hero.</h3>

    <p>From here your next step is to decide what you want to do with this site... Choose wisely.</p>
    <p>Please remember to format correctly, to branch when needed, and to refactor regularly.</p>
</div>

